body {
  background: black;
  color: #847d79;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin: 0px;
  overflow: hidden;
}
a {
  color: #fff;
}
h1 a {
  text-decoration: none;
}
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}
.swipe-image {
    text-align: center;
}
.tile {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 80px;
  background: #5d87a1;
  z-index: 0;
  margin: 10px 10px;
  padding: 10px;
  border-radius: 10px;
  transition: all .15s ease-in-out;
  text-align: center;
}
.tile a {
  color: #fff;
  display: block;
  width: 200px;
  line-height: 80px;
  text-decoration: none;
}
.admin {
  padding-left: 20px;
}
.admin input[type="checkbox"] {
  margin-left: 58px;
}
.stage {
  display: table-cell;
  vertical-align: middle;
}
p.caption{
  margin-left: auto;
  margin-right: auto;
}
a.learn-more {
  position: absolute;
  display: block;
  width: 355px;
  height: 73px;
  text-indent: -99999px;
  z-index: 10;
  background-image: url('../img/Slideshow_button.png');
}
a.close {
  display: block;
  background-repeat: no-repeat;
  background-position-y: bottom;
  width: 64px;
  height: 64px;
  text-indent: -99999px;
  position: absolute;
  z-index: 10;
  display: none;
  background-image: url('../img/close.png');
}
a.arrow {
  display: block;
  background-repeat: no-repeat;
  background-position-y: bottom;
  width: 128px;
  height: 128px;
  text-indent: -99999px;
  position: absolute;
  z-index: 10;
  display: none;
}
a#left{
  background-image: url('../img/arrow-left.png');  
}
a#right{
  background-image: url('../img/arrow-right.png');
}
a.play-video {
  display: inline-block;
  background-image: url('../img/Play_button.png');
  background-repeat: no-repeat;
  background-position-y: center;
  width: 251px;
  height: 192px;
  text-index: -99999px;
  position: absolute;
  z-index: 10;
}
div.extra {
  display: none;
}
div.lightbox {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: inherit;
  background-color: rgba(0,0,0,0.8);
}
div.lightbox .video {
  text-align: center;
  padding-top: 175px;
}
div.lightbox video {
  margin-left: auto;
  margin-right: auto;
}
div.gallery {

}
div.gallery div.gallery-left {
  width: 629px;
  float: left;
}
div.gallery div.gallery-left div.caption {
  height: 345px;
  overflow: hidden;
  color: #fff;
  display: none;
  font-size: 20pt;
  line-height: 28pt;
}
div.gallery div.caption span.credit {
  display: inline-block;
  padding-top: 1em;
  font-weight: normal;
  font-style: italic;
  font-size: 13pt;
}
div.gallery div.thumbnails {
  background-color: #585858;
  padding: 72px 72px 0px 72px;
}
div.gallery div.thumbnails img {
  width: 180px;
  margin-bottom: 32px;
  border-radius: 10px;
  transition: all .15s ease-in-out;
}
div.gallery div.thumbnails img:nth-child(even) {
  margin-left: 90px;
}
div.gallery div.view {
  overflow: hidden;
  background-color: #585858;
  padding: 72px 72px 72px 0px;
}
div.gallery div.view img {
  border-radius: 10px;
  transition: all .15s ease-in-out;
  width: 100%;
}