body {
  background: black;
  color: #847d79;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin: 0px;
}
a {
  color: #fff;
}
h1 a {
  text-decoration: none;
}
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}
.swipe-image {
    text-align: center;
}
.tile {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 80px;
  background: #5d87a1;
  z-index: 0;
  margin: 10px 10px;
  padding: 10px;
  border-radius: 10px;
  transition: all .15s ease-in-out;
  text-align: center;
}
.tile a {
  color: #fff;
  display: block;
  width: 200px;
  line-height: 80px;
  text-decoration: none;
}
.stage {
  display: table-cell;
  vertical-align: middle;
}
p.caption{
  margin-left: auto;
  margin-right: auto;
}
a.learn-more {
  position: absolute;
  display: inline-block;
  width: 200px;
  line-height: 80px;
  z-index: 10;
}
a.close {
  display: inline-block;
  background-repeat: no-repeat;
  background-position-y: bottom;
  width: 64px;
  height: 64px;
  text-indent: -99999px;
  position: absolute;
  z-index: 10;
  display: none;
  background-image: url('../img/close.png');
}
a.arrow {
  display: inline-block;
  background-repeat: no-repeat;
  background-position-y: bottom;
  width: 128px;
  height: 128px;
  text-indent: -99999px;
  position: absolute;
  z-index: 10;
  display: none;
}
a#left{
  background-image: url('../img/arrow-left.png');  
}
a#right{
  background-image: url('../img/arrow-right.png');
}
a.play-video {
  display: inline-block;
  background-image: url('../img/play.png');
  background-repeat: no-repeat;
  background-position-y: center;
  width: 64px;
  height: 64px;
  text-index: -99999px;
  position: absolute;
  z-index: 10;
}
div.extra {
  display: none;
}
div.lightbox {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: inherit;
  background-color: #000;
}
div.lightbox .video {
  text-align: center;
  padding-top: 80px;
}
div.lightbox video {
  margin-left: auto;
  margin-right: auto;
}
div.gallery {
  background-color: #000;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}